/*
    ------------------------
    ------- Buttons --------
    ------------------------
*/

.btn{
    display: inline-block;
    padding: calc(var(--space-1) * 1.125) var(--space-1-xx);
    border-radius: var(--button-border-radius);
    color: var(--color-text-white-dim);

    &--white{
        background-color: var(--color-white);
        color: var(--color-text-red);

        &:hover,
        &:focus{
            background-color: var(--color-bg-cta-hover);
            color: var(--color-text-white);
        }
    }

    &--ghost{
        background-color: transparent;
        color: var(--color-text-white);
        border: var(--button-border-width) solid var(--color-white);

        &:hover,
        &:focus{
            background-color: var(--color-white);
            color: var(--color-text-red);
        }
    }
}